/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Rubik;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header-container {
  width: 100%;
}

header {
  padding-top: 32px;
  margin-bottom: 128px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 96px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-img {
  width: 36px;
  height: 36px;
}

.logo-titile {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.7px;
  text-align: left;
  color: #0b132a;
}

.logo-titile span {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.7px;
  text-align: left;
}

.header-menu {
  display: flex;
  list-style: none;
  gap: 48px;

  color: #4f5665;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.96px;
  text-align: left;
  transition: all 0.15s;
}
.header-menu li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sign-btn {
  display: flex;
  gap: 24px;
  align-items: center;
}

.sign-in-btn:link,
.sign-in-btn:visited,
.sign-up-btn:link,
.sign-up-btn:visited {
  text-decoration: none;

  display: inline-block;

  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.96px;
  text-align: left;

  color: #0b132a;
}

.sign-up-btn {
  padding: 12px 36px;
  border: 1px solid #f53855;
  border-radius: 100px;

  color: #f53855 !important;
}

.header-content {
  margin-top: 80px;
  margin-bottom: 96px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
}

.header-title {
  font-family: Rubik;
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  text-align: left;
  margin-bottom: 48px;
}

.header-title span {
  font-family: Rubik;
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  text-align: left;
}

.header-text {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #4f5665;

  margin-bottom: 64px;
}

.header-text span {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}

.start-btn:link,
.start-btn:visited {
  text-decoration: none;
  display: inline-block;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  color: #ffffff;
  background-color: #f53838;

  padding: 12px 24px;
  border-radius: 5px;
}

.start-btn:active,
.start-btn:hover {
  box-shadow: 0 15px 15px #f5383859;
}

.header-img {
  width: 100%;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 48px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 24px 0 24px 0;
}

.stats-group {
  padding: 48px 84px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.stats-icon-container {
  background-color: #ffecec;
  padding: 12px;
  border-radius: 100%;
}

.stats-icon {
  width: 24px;
  height: 24px;
}

.stats-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
}

.stats-nums {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 700;
  /* line-height: 30px; */
  text-align: left;
  color: #0b132a;
}

.stats-property {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  /* line-height: 30px; */
  text-align: left;
  color: #4f5665;
}

.borders {
  border-left: 2px solid #eeeff2;
  border-right: 2px solid #eeeff2;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 24px;
  margin-bottom: 128px;
}

.features-img {
  width: 100%;
}

.features-header {
  color: #0b132a;
  font-family: Rubik;
  font-size: 35px;
  font-weight: 500;
  /* line-height: 50px; */
  text-align: left;

  margin-bottom: 32px;
}

.features-description {
  color: #4f5665;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-bottom: 32px;
}

.features-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.features-list li {
  display: flex;
  align-items: center;
  gap: 12px;
}

.plans-description {
  text-align: center;
  margin-bottom: 64px;
}

.plans-title {
  font-family: Rubik;
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  color: #0b132a;
  margin-bottom: 32px;
}

.plans-about {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #4f5665;
  max-width: 550px;
  margin: 0 auto;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  padding: 48px;
  border-radius: 10px;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}

.card-header img {
  /* margin-bottom: 32px; */
  width: 120px;
}

.plan-type {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #0b132a;
}

.plan-details {
  height: 250px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.plan-details li {
  display: flex;
  gap: 16px;
  align-items: center;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #4f5665;
}

.plan-details-mark {
  width: 12px;
  height: 12px;
}

.price-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.price {
  font-family: Rubik;
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
}

.price span {
  font-family: Rubik;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  /* text-align: center; */
  color: #4f5665;
}

.selc-btn {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.96px;
  /* text-align: left; */
  color: #f53838;
  background-color: #fff;
  padding: 8px 36px;
  border-radius: 50px;
  border: 2px solid #f53838;
  cursor: pointer;
}

.selc-active {
  color: #fff;
  background-color: #f53838;
  box-shadow: 0 15px 15px #f5383859;
}

.card-active {
  border: 1px solid #f53838;
}

.plans {
  margin-bottom: 128px;
}

.plans-description {
  margin-bottom: 96px;
}

.network {
  text-align: center;
  margin-bottom: 84px;
}

.network-header {
  width: 380px;
  margin: 0 auto 36px auto;
  font-family: Rubik;
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  color: #0b132a;
}

.network-description {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #4f5665;
  max-width: 550px;
  color: #4f5665;
  margin: 0 auto;
}

.network-description span {
  font-weight: 500;
  color: #4f5665;
}

.global {
  width: 960px;
  margin-bottom: 48px;
}

.logos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.testimonial-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.testimonail-cards-1 {
  width: 360px;
  height: 240px;
  padding: 24px;
  border: 2px solid #dddddd;
  border-radius: 10px;
}

.testimonail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
}

.user-name {
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  /* line-height: 30px; */
  /* text-align: center; */
  color: #0b132a;
}

.user-city {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  /* line-height: 30px; */
  /* text-align: center; */
  color: #4f5665;
}

.rate {
  display: flex;
  gap: 12px;
  align-items: center;
}
.star {
}

.user-comment {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  /* text-align: left; */
  color: #0b132a;
}

.slider-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.dots-bar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.dots-bar span {
  display: inline-block;
  cursor: pointer;
}

.active-slide {
  background-color: #f53838;
  padding: 6px 18px;
  border-radius: 100px;
}

.dot {
  border-radius: 100px;
  background-color: #dde0e4;
  padding: 6px;
}

.slide-btns {
  display: flex;
  align-items: center;
  gap: 24px;
}

.slide-btn {
  cursor: pointer;
  border-radius: 100px;
  padding: 12px;
  background-color: #fff;
  border: 2px solid #f53838;
}

.active-slide-btn {
  background-color: #f53838;
}

.testimonials {
  position: relative;
  padding-bottom: 128px;
}

.subscribe-sec {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 950px;
  /* margin-bottom: 64px; */
  padding: 48px;
  background-color: #fff;
  border-radius: 12px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);

  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  /* transform: translateX(-50%); */
  /* transform: translatey(50%);   */
}

.subscribe-description {
  width: 370px;
}

.subscribe-title {
  width: 100%;
  font-family: Rubik;
  font-size: 35px;
  font-weight: 500;
  /* line-height: 1.5; */
  /* text-align: left; */
  color: #0b132a;
  margin-bottom: 24px;
}

.subscribe-txt {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  /* line-height: 30px; */
  text-align: left;
  color: #4f5665;
}

.subscribe-btn {
  padding: 14px 32px;
  background-color: #f53838;
  border: none;
  border-radius: 9px;

  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  /* line-height: 25px; */
  text-align: left;
  color: #fff;
  box-shadow: 0 15px 15px #f5383859;
  cursor: pointer;
}

footer {
  width: 950px;
  margin: 0 auto;
  padding: 46px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-container {
  background-color: #f8f8f8;
  padding: 128px 0 84px 0;
}

.center-stop {
  margin: 0 0 36px 0;
  width: 340px;
}

.info .logo {
  margin-bottom: 24px;
}

.social-links {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 36px;
}

.social-icon:link,
.social-icon:visited {
  display: inline-block;
}

.social-media-icon {
  color: #f53838;
  width: 35px;
  height: 35px;
}

.copyright {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  /* line-height: 30px; */
  /* text-align: center; */
  color: #afb5c0;
}

.copyright span {
  font-weight: 500;
}

.product ul,
.engage ul,
.earn ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  /* line-height: 30px; */
  /* text-align: left; */
  color: #4f5665;
}

.product-header,
.engage-header,
.earn-header {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 500;
  /* line-height: 30px; */
  /* text-align: left; */
  color: #0b132a;
  margin-bottom: 12px;
}
