/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Rubik;
  height: 10000px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header-container {
  width: 100%;
}

header {
  padding-top: 32px;
  margin-bottom: 96px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 96px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-img {
  width: 36px;
  height: 36px;
}

.logo-titile {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.7px;
  text-align: left;
  color: #0b132a;
}

.logo-titile span {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.7px;
  text-align: left;
}

.header-menu {
  display: flex;
  list-style: none;
  gap: 48px;

  color: #4f5665;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.96px;
  text-align: left;
  transition: all 0.15s;
}
.header-menu li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sign-btn {
  display: flex;
  gap: 24px;
  align-items: center;
}

.sign-in-btn:link,
.sign-in-btn:visited,
.sign-up-btn:link,
.sign-up-btn:visited {
  text-decoration: none;

  display: inline-block;

  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.96px;
  text-align: left;

  color: #0b132a;
}

.sign-up-btn {
  padding: 12px 36px;
  border: 1px solid #f53855;
  border-radius: 100px;

  color: #f53855 !important;
}

.header-content {
  margin-top: 80px;
  margin-bottom: 96px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
}

.header-title {
  font-family: Rubik;
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  text-align: left;
  margin-bottom: 48px;
}

.header-title span {
  font-family: Rubik;
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  text-align: left;
}

.header-text {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #4f5665;

  margin-bottom: 64px;
}

.header-text span {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}

.start-btn:link,
.start-btn:visited {
  text-decoration: none;
  display: inline-block;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  color: #ffffff;
  background-color: #f53838;

  padding: 12px 24px;
  border-radius: 5px;
}

.start-btn:active,
.start-btn:hover {
  box-shadow: 0 15px 15px #f5383859;
}

.header-img {
  width: 100%;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 48px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 24px 0 24px 0;
}

.stats-group {
  padding: 48px 84px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.stats-icon-container {
  background-color: #ffecec;
  padding: 12px;
  border-radius: 100%;
}

.stats-icon {
  width: 24px;
  height: 24px;
}

.stats-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
}

.stats-nums {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 700;
  /* line-height: 30px; */
  text-align: left;
  color: #0b132a;
}

.stats-property {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  /* line-height: 30px; */
  text-align: left;
  color: #4f5665;
}

.borders {
  border-left: 2px solid #eeeff2;
  border-right: 2px solid #eeeff2;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 24px;
}

.features-img {
  width: 100%;
}

.features-header {
  color: #0b132a;
  font-family: Rubik;
  font-size: 35px;
  font-weight: 500;
  /* line-height: 50px; */
  text-align: left;

  margin-bottom: 32px;
}

.features-description {
  color: #4f5665;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-bottom: 32px;
}

.features-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.features-list li {
  display: flex;
  align-items: center;
  gap: 12px;
}
